chatflow.txt
[{"id":"73308820.ea9b58","type":"inject","z":"a0a522fa.2c3b5","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":190.5,"y":80.25,"wires":[["32f958b2.08beb8"]]},{"id":"8c3ab58d.078888","type":"http request","z":"a0a522fa.2c3b5","name":"","method":"GET","ret":"obj","url":"","tls":"","x":424.5,"y":93.75,"wires":[["b34ebcea.413068","3db446f2.e69632"]]},{"id":"b34ebcea.413068","type":"debug","z":"a0a522fa.2c3b5","name":"","active":false,"console":"false","complete":"payload","x":639.5,"y":88.5,"wires":[]},{"id":"32f958b2.08beb8","type":"function","z":"a0a522fa.2c3b5","name":"construct url","func":"var msg1={};\nvar todate=new Date();\nvar fromdate=new Date(todate-100000);\n//fromdate.setSeconds(fromdate.getSeconds()-5);\n\nmsg1.url=\"https://api.enco.io/sms/1.0.0/sms/inboundmessages/shared?startdatetime=\"+JSON.parse(JSON.stringify(fromdate))+\"&enddatetime=\"+JSON.parse(JSON.stringify(todate)) +\"&new-only=true\";\n\nmsg1.headers={\"Content-type\" : \"application/json\",\n    \"Authorization\": \"Bearer 45e695304123a55ee7a277d57688fac5\"\n}\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":328.5,"y":190.75,"wires":[["8c3ab58d.078888","c022e62.47e0918"]]},{"id":"c022e62.47e0918","type":"debug","z":"a0a522fa.2c3b5","name":"","active":false,"console":"false","complete":"true","x":674.5,"y":173.5,"wires":[]},{"id":"5d9a97fc.596218","type":"watson-conversation-v1","z":"a0a522fa.2c3b5","name":"Watson converstation","workspaceid":"9df20fee-c8a9-492c-b397-b34861d4abfe","multiuser":true,"context":true,"x":754.5,"y":261.5,"wires":[["5985091.4c06878","ff8908ae.ab197"]]},{"id":"3db446f2.e69632","type":"switch","z":"a0a522fa.2c3b5","name":"Incoming SMS","property":"payload.numberOfMessages","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"}],"checkall":"true","outputs":1,"x":466.5,"y":293.75,"wires":[["3a67c0b5.9732d","f7829001.6e8328"]]},{"id":"3a67c0b5.9732d","type":"function","z":"a0a522fa.2c3b5","name":"Extract message text","func":"var msg1 = {};\nvar context = {};\n\nmsg1.user=msg.payload.messages[0].senderAddress;\nmsg1.payload=msg.payload.messages[0].message;\n\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":632.5,"y":363.75,"wires":[["5d9a97fc.596218","ce9c42a4.605bc8"]]},{"id":"5985091.4c06878","type":"debug","z":"a0a522fa.2c3b5","name":"","active":false,"console":"false","complete":"true","x":835.5,"y":343.5,"wires":[]},{"id":"f7829001.6e8328","type":"debug","z":"a0a522fa.2c3b5","name":"","active":false,"console":"false","complete":"false","x":713.5,"y":465.5,"wires":[]},{"id":"e8b71bac.87eff8","type":"http request","z":"a0a522fa.2c3b5","name":"Send SMS","method":"POST","ret":"txt","url":"https://api.enco.io/sms/1.0.0/sms/outboundmessages?forceCharacterLimit=false","tls":"","x":784.5,"y":543.75,"wires":[[]]},{"id":"ff8908ae.ab197","type":"function","z":"a0a522fa.2c3b5","name":"Construct answer sms","func":"var msg1={};\nvar payload={};\npayload.message=msg.payload.output.text[0];\npayload.destinations=[];\npayload.destinations[0]=msg.user;\nmsg1.payload=payload;\n\nmsg1.headers={\"Content-type\" : \"application/json\",\n    \"Authorization\": \"Bearer 45e695304123a55ee7a277d57688fac5\"\n}\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":495.5,"y":521.75,"wires":[["e8b71bac.87eff8"]]},{"id":"ce9c42a4.605bc8","type":"debug","z":"a0a522fa.2c3b5","name":"","active":false,"console":"false","complete":"true","x":816.5,"y":400.5,"wires":[]},{"id":"6510d581.af498c","type":"inject","z":"a0a522fa.2c3b5","name":"Simulate Crash event","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":205.5,"y":568.25,"wires":[["c64c2048.3b807"]]},{"id":"c64c2048.3b807","type":"function","z":"a0a522fa.2c3b5","name":"Set phone number","func":"msg.user=\"+32475251752\";\nmsg.payload=\"ongeval\";\n\nreturn msg;","outputs":1,"noerr":0,"x":455.5,"y":578.75,"wires":[["5d9a97fc.596218"]]},{"id":"588b9449.e87044","type":"ibmiot in","z":"a0a522fa.2c3b5","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"DummyDev","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":193.5,"y":640,"wires":[["f5f2b306.19c888"]]},{"id":"f5f2b306.19c888","type":"function","z":"a0a522fa.2c3b5","name":"","func":"var msg1 = {};\nmsg1.user = msg.payload.d.phone;\nmsg1.payload=\"ongeval\";\n\nreturn msg1;","outputs":1,"noerr":0,"x":344.5,"y":641,"wires":[["9fc7c2bc.6e52c8","5d9a97fc.596218"]]},{"id":"9fc7c2bc.6e52c8","type":"debug","z":"a0a522fa.2c3b5","name":"","active":true,"console":"false","complete":"true","x":529.5,"y":682,"wires":[]}]
