dashboard-flow.txt
[{"id":"5dc3eff8.61248","type":"ibmiot in","z":"7fb4f025.e7f0a","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":163.75,"wires":[["80dc257b.96bc08","5a709d94.0b0e04","1c7bd6ce.147e29"]]},{"id":"80dc257b.96bc08","type":"debug","z":"7fb4f025.e7f0a","name":"","active":true,"console":"false","complete":"false","x":378,"y":101,"wires":[]},{"id":"5e229586.96839c","type":"ui_chart","z":"7fb4f025.e7f0a","name":"","group":"72bf40d2.a9753","order":0,"width":0,"height":0,"label":"Acceleration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"-20","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":652,"y":188.5,"wires":[[],[]]},{"id":"5a709d94.0b0e04","type":"function","z":"7fb4f025.e7f0a","name":"extract accelleration","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nmsg1.payload=msg.payload.d.acceleration_x;\nmsg1.topic=\"x\";\nmsg2.payload=msg.payload.d.acceleration_y;\nmsg2.topic=\"y\";\nmsg3.payload=msg.payload.d.acceleration_z;\nmsg3.topic=\"z\";\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":405,"y":189.25,"wires":[["5e229586.96839c"],["5e229586.96839c"],["5e229586.96839c"]]},{"id":"1c7bd6ce.147e29","type":"function","z":"7fb4f025.e7f0a","name":"extract location","func":"var msg1={};\nmsg1.payload={};\n\nmsg1.payload.lat=msg.payload.d.location.latitude.toString();\nmsg1.payload.lon=msg.payload.d.location.longitude.toString();\nmsg1.payload.icon=\"globe\";\nmsg1.payload.iconColor=\"orange\";\nmsg1.payload.name=\"demo loc\";\n\nreturn msg1;\n\n","outputs":1,"noerr":0,"x":385,"y":259.5,"wires":[["f9f23a1.7ba61c8","94f9b8ba.920af8"]]},{"id":"f9f23a1.7ba61c8","type":"debug","z":"7fb4f025.e7f0a","name":"","active":true,"console":"false","complete":"true","x":578,"y":340,"wires":[]},{"id":"94f9b8ba.920af8","type":"worldmap","z":"7fb4f025.e7f0a","name":"","lat":"50.8","lon":"4.3","zoom":"8","layer":"Esri","cluster":"","maxage":"","usermenu":"show","panit":"false","x":640,"y":258.75,"wires":[]},{"id":"72bf40d2.a9753","type":"ui_group","z":"","name":"Accel","tab":"99d93345.85e3a","order":null,"disp":true,"width":"6"},{"id":"99d93345.85e3a","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]

