lopy-flow.txt
[{"id":"b5ee281.fba1bd8","type":"http in","z":"ae9ddeab.16804","name":"LoPy In","url":"/lopy","method":"post","swaggerDoc":"","x":113.33333333333331,"y":641.8888888888889,"wires":[["b6e7ab36.9a19a","b18bd512.ddf8e8","b43182e7.74cbd"]]},{"id":"b6e7ab36.9a19a","type":"debug","z":"ae9ddeab.16804","name":"","active":true,"console":"false","complete":"true","x":310.1111145019531,"y":560.77783203125,"wires":[]},{"id":"b18bd512.ddf8e8","type":"http response","z":"ae9ddeab.16804","name":"Response","x":342.22222222222223,"y":721.8888888888889,"wires":[]},{"id":"d6673daa.102038","type":"ibmiot out","z":"ae9ddeab.16804","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lopydemo","deviceType":"lopy","eventCommandType":"buttonEvent","format":"json","data":"msg","qos":0,"name":"Send to IBM IoT","service":"registered","x":523.5,"y":616,"wires":[]},{"id":"b43182e7.74cbd","type":"function","z":"ae9ddeab.16804","name":"Device payload","func":"// Create MQTT message in JSON\nmsg = {};\nmsg.payload= \n    {\n      d:{\n        \"phone\" : \"+3246911111\",\n        \"x-Accel\": Math.round(Math.random()*100).toString(),\n        \"y-Accel\": Math.round(Math.random()*100).toString(),\n        \"z-Accel\": Math.round(Math.random()*100).toString(),\n      }\n    };\nreturn msg;\n","outputs":1,"noerr":0,"x":331,"y":617,"wires":[["d6673daa.102038","c287fd89.442ee8"]]},{"id":"c287fd89.442ee8","type":"debug","z":"ae9ddeab.16804","name":"","active":true,"console":"false","complete":"false","x":498.5,"y":555,"wires":[]}]

